.header-title {
	&__title {
		font-size: 2.4rem;
		color: var(--text);
		line-height: 1;
	}

	&__followers {
		color: var(--blue-text);
		font-size: 1.4rem;
		font-weight: 700;
		border-bottom: 1px solid var(--border-color);
		padding-bottom: 2.4rem;

		@media screen and (min-width: 64em) {
			border-bottom: 0;
		}
	}
}
