.card {
	width: 100%;
	// height: 21.6rem;
	background-color: var(--background-card);
	border-radius: 5px;
	cursor: pointer;
	transition: 0.4s;

	&:hover {
		background-color: var(--hover-card);
	}
}
